<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Scan em Andamento</title>
    <meta http-equiv="refresh" content="5">  <!-- Atualiza a página a cada 5 segundos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Scan em Andamento</h1>
        <p>O scan está em andamento. Por favor, aguarde...</p>
        <p>A página será atualizada automaticamente a cada 5 segundos.</p>
    </div>
</body>
</html>
